                                                                                                                     
body{
    background-color: rgb(147, 199, 245);
}
header {
    background-color: rgb(88, 167, 236);
    width: 100%;
}

header > img{
    display: block;
    border-radius: 6px;
    margin: 15px auto;
    width: 600px;
    border: 2px snow;
}

nav {
    background-color: rgb(147, 199, 245);
    width: 100%;
    position: sticky;
    top: 0;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    line-height: 2.5rem;
    font-size: 1.5rem;
    transition: all 300ms;
    display: block;
}

nav > ul > li > a:hover {
    font-size: 1.8rem;
    color: blueviolet;
    transition:all 500ms;
}

h1 {
    text-align: center;
    margin: 35px;
    background-color: aliceblue;
}

div {
background-color: rgb(147, 199, 245);
margin: 20px;
text-align: center;
}

.mlp_imagem{
    width: 100%;
    min-width: 100px;
}

.lista_de_produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lista_produtos_itens{
    width: 25%;
    margin: 1%;
    box-shadow: 5px 3px 7px;
}

.lista_produtos_itens{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.lista_produtos_itens:hover{
    box-shadow: 3px 2px 2px;
}

section{
    width: 88%;
    margin: 1%;
    background-image: linear-gradient(to bottom left, rgb(61, 113, 255),rgb(142, 172, 255));
    border: 2px solid rgb(211, 244, 252);
    border-radius: 5%;
    padding: 2% 4% 2% ;
}

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 500px) {
    nav{
        background-color: rgb(100, 100, 255);
    }

    nav > ul {
        flex-direction: column;
    }
}